<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Invitaion mail</h2>
    <p>Hi you have been invited please <a href="http://localhost:3001">click here</a>  to signup</p>
  </body>
</html>

